title: "Andre' Vella"

description: "Andre Vella is a backend-focused software engineer passionate about solving problems in the simplest way possible."
url: "https://www.andrevella.dev"
baseurl: ""

author:
  name: "Andre' Vella"
  email: "andimongh@proton.me"

# Build settings
markdown: kramdown
permalink: /blog/:year/:month/:day/:title/

# Collections
collections:
  blogs:
    output: true
    permalink: /blog/:year/:month/:day/:title/
  projects:
    output: true
    permalink: /project/:year/:month/:day/:title/

# Include files and directories
include:
  - content

# Exclude from processing
exclude:
  - README.md
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/

plugins:
  - jekyll-feed
  - jekyll-seo-tag

defaults:
  - scope:
      path: ""
      type: "blogs"
    values:
      layout: "blog"
  - scope:
      path: ""
    values:
      layout: "default"
